.personalRegistrado{
  padding: 1rem 2rem;
}
  .personalRegistrado .search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
  }

    .personalRegistrado h3{
      text-transform: uppercase;
      font-size: 1.65rem;
      color: rgb(1, 80, 170);
    }
    .personalRegistrado .search > div{
      position: relative;
      display: flex;
      align-items: center;
    }

      .personalRegistrado .search svg{
        position: absolute;
        left: .5rem;
        width: 1.5rem;
        height: 1.5rem;
        color: rgb(1, 80, 170);
      }
      .personalRegistrado .search input{
        width: 27.5rem;
        height: 2.5rem;
        padding-left: 2.5rem;
        border: none;
        outline: rgba(0, 0, 0, 0);
        color: rgb(1, 80, 170);
        font-size: 15px;
        background-color: rgba(1, 80, 170, 0.05);
        border-radius: 5px;
        text-transform: uppercase;
      }

      .personalRegistrado .search input::placeholder{
        color: rgba(1, 80, 170, .5);
        text-transform: uppercase;
      }


  .personalRegistrado .listaPersonal{
    height: calc(100vh - 13.5rem);
    overflow-y: scroll;
    border-radius: 5px;
    padding-right: .75rem;
  }
  .personalRegistrado .listaPersonal::-webkit-scrollbar{
    width: 7.5px;
    background-color: rgba(1, 80, 170, 0.25);
    border-radius: 5px;
  }
  .personalRegistrado .listaPersonal::-webkit-scrollbar-thumb{
      background: rgb(1, 80, 170);
      border-radius: 15px;
  }
  .personalRegistrado .listaPersonal::-webkit-scrollbar-thumb:hover{
      background: rgba(255, 255, 255, 0.5);
  }
  .personalRegistrado .listaPersonal::-webkit-scrollbar-thumb:active{
      background-color: rgba(255, 255, 255, 0.4);
  }
    .personalRegistrado .listaPersonal > ul{
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    .personalRegistrado .listaPersonal > ul > p{
      width: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 2.5rem;
      text-transform: uppercase;
      text-align: center;
      color: rgb(1, 80, 170);
      opacity: .5;
    }
      .personalRegistrado .listaPersonal > ul > p > span {
        font-size: 22px;
      }